$ncp-primary: #4abb94;
$ncp-primary-hover: #51d3a6;
$ncp-primary-dark: #3b9978;
$ncp-primary-background: #65f3c11c;
$ncp-secondary: #6ad0e7;
$ncp-secondary-hover: #82e1f7;
$ncp-secondary-dark: #5da0af;
$ncp-thirdary: #bb7f44;
$ncp-thirdary-hover: #db9651;
$ncp-thirdary-dark: #a06e3c;
$ncp-fourthary: #c86478;
$ncp-fourthary-hover: #ec7890;
$ncp-fourthary-dark: #a55262;
$ncp-dark: #363d46;
$ncp-light: #f6f6f6;
// title
$ncp-title: #646c9a;
$ncp-title-hover: #848aae;

// white
$ncp-white: #ffffff;
$ncp-white-focus: #ececec;
$ncp-white-hover: whitesmoke;

// black
$ncp-black: #333;
$ncp-text-color: #282828;

//red
$ncp-red: #d92727;
$ncp-red-1: #c11b20;

//gray
$ncp-gray: #ececec;
$ncp-gray-1: #ebebeb;
$ncp-input-gray: #f2f2f2;

$ncp-gray-low-opacity: rgba(14, 14, 14, 0.11);
$ncp-default-background: #fdfdfd;
$ncp-disabled-background: #bcbcbc;
$ncp-default-background-low-opacity: #fdfdfdd3;
$ncp-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$ncp-box-shadow-primary: 0px 3px 4px rgba(74, 187, 148, 0.4);
